In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
titanic_df = pd.read_csv("titanic.csv")

In [3]:
def probability(event_count, sample_space):
    p = event_count / sample_space
    return p

def percentage (event_count, sample_space):
    p = event_count / sample_space * 100
    return p

In [4]:
rain_prob = probability(event_count= 3,sample_space= 30)
rain_prob

0.1

In [5]:
visitor_prob = probability(28, 365)
visitor_prob

0.07671232876712329

In [6]:
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
five_or_younger_df = titanic_df[titanic_df["Age"] <= 5]

In [8]:
five_or_younger_prob = len(five_or_younger_df) / len(titanic_df)
five_or_younger_prob

0.04938271604938271

In [9]:
five_or_younger_percent = five_or_younger_prob * 100
five_or_younger_percent

4.938271604938271

In [10]:
paid_nothing_df = titanic_df[titanic_df["Fare"] == 0]

In [11]:
paid_nothing_survived = paid_nothing_df[paid_nothing_df["Survived"] == 1]

In [12]:
paid_nothing_survive_prob = len(paid_nothing_survived) / len(paid_nothing_df)
paid_nothing_survive_prob

0.06666666666666667

In [13]:
paid_nothing_survive_percent = paid_nothing_survive_prob * 100
paid_nothing_survive_percent

6.666666666666667

In [14]:
has_sibling_or_spouse_df = titanic_df[titanic_df["SibSp"] >= 1]

In [15]:
has_sibsp_survived_df = has_sibling_or_spouse_df[has_sibling_or_spouse_df["Survived"] == 1]

In [16]:
has_sibsp_survived_prob = len(has_sibsp_survived_df) / len(has_sibling_or_spouse_df)
has_sibsp_survived_prob

0.4664310954063604

In [17]:
has_sibsp_survived_percent = has_sibsp_survived_prob * 100
has_sibsp_survived_percent

46.64310954063604

In [18]:
has_family_df = titanic_df[(titanic_df["SibSp"] >= 1) | (titanic_df["Parch"] >= 1)]

In [19]:
has_family_survived_df = has_family_df[has_family_df["Survived"] == 1]

In [20]:
has_family_survived_prob = len(has_family_survived_df) / len(has_family_df)
has_family_survived_prob

0.5056497175141242

In [21]:
has_family_survived_percent = has_family_survived_prob * 100
has_family_survived_percent

50.56497175141242

In [22]:
minor_no_family_df = titanic_df[(titanic_df["SibSp"] == 0) & (titanic_df["Parch"] == 0) & (titanic_df["Age"] < 18)]

In [23]:
minor_no_family_survived_df = minor_no_family_df[minor_no_family_df["Survived"] == 1]

In [24]:
minor_no_family_survived_prob = len(minor_no_family_survived_df) / len(minor_no_family_df)
minor_no_family_survived_prob

0.43478260869565216

In [25]:
minor_no_family_survived_percent = minor_no_family_survived_prob * 100
minor_no_family_survived_percent

43.47826086956522

In [26]:
five_or_younger_survived_df = five_or_younger_df[five_or_younger_df["Survived"] == 1]

In [28]:
five_or_younger_survived_prob = len(five_or_younger_survived_df) / len(five_or_younger_df)
five_or_younger_survived_prob

0.7045454545454546

In [31]:
five_or_younger_survived_percent = five_or_younger_survived_prob * 100
five_or_younger_survived_percent

70.45454545454545