In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
% matplotlib inline

In [2]:
DATASET = 'bmi.csv'
bmi_df = pd.read_csv(DATASET)

In [3]:
bmi_df.head()

  Sex   "Weight (lbs Sep)"   "Weight (lbs Apr)"   "BMI (Sep)"   "BMI (Apr)"
0   M                159.0                  130          0.00         18.14
1   M                214.0                  190         19.70         17.44
2   M                163.0                  152         24.09         22.43
3   M                205.0                  194         26.97         25.57
4   F                150.0                  141         21.51         20.10

In [4]:
bmi_df[1:2]

  Sex   "Weight (lbs Sep)"   "Weight (lbs Apr)"   "BMI (Sep)"   "BMI (Apr)"
1   M                214.0                  190          19.7         17.44

In [ ]:
df_to_change = pd.DataFrame({"A": [1, 2, 3], })